<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Telemetry Express</a>
    <ul>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/projects/new">Add Project</a></li>
      <li><a href="/tests">Tests</a></li>
      <li><a href="/tests/new">Add Test</a></li>
      <li><a href="/graphs">Graphs</a></li>
    </ul>
  </nav>
</header>